<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link rel="stylesheet" type="text/css" href="print/templates/css/common.css" />
<title>[@headertitle]</title>
</head>
<body>
[@header]
<div>
[@record]
</div>
</body></html>
