// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

//////////////////////////////////////////////////////////////////////////////////////
// Insert your custom variables here.


// 1. version
//$base-color: rgb(107,158,138);
//$neutral-color:  rgb(249,246,213);
//$grid-header-background-color: rgb(249,246,213);


//2. version
//$base-color: rgb(172,219,125);
//$panel-border-color: #8AA46E;
//$neutral-color:  rgb(249,246,213);

//$panel-header-background-color: #76C09A;
//$accordion-header-background-color: #8bdbb2;

//$grid-base-color: rgb(149,218,183);

//$grid-row-cell-over-border-color: rgb(232,228,184);
//$grid-row-cell-selected-background-color: rgb(223,217,155);
//$grid-header-background-color: rgb(213,209,167);
//$grid-header-over-background-color: rgb(244,240,199);

//$grid-header-background-gradient: null !default;
////////////////////////////////////////////////////////////////////////////////////////

@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true