p
{
	page-break-before: always;
}

.nobreak
{
	page-break-inside: avoid;
}

body
{
    padding: 80px 0px 20px 0px;
    word-wrap: break-word;
    font-family: DejaVu Sans, sans-serif;
    font-size: 11pt;
    /*font-family: "Verdana";*/
    /*font-size: 11pt;*/
}

input
{
	font-family: DejaVu Sans, sans-serif;
    font-size: 11pt;
}

select
{
    font-family: DejaVu Sans, sans-serif;
    font-size: 11pt;
}


label
{
	font-family: DejaVu Sans, sans-serif;
    font-size: 11pt;
}


.header
{
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 150px;
}

legend
{
	font-size: 8pt;
    color: #669;
}

.label
{
	width: 27%;
	font-size: 11pt;
}

.paddinglabel
{
	width: 32%;
	font-size: 11pt;
	padding-left : 22px;
}

.value
{
	border: 1px solid #999;
}

.fieldset-inner-table
{
    width: 100%;
    border-collapse: separate;
	border-spacing:2px 10px;
}
