<span style='color: #000' title='Frames'>  1740</span><span style='color: #009' title='Memory'>  40960.00 KB</span><span style='color: #900' title='Time'>  12366.97 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />