/**
 *---------------------------------------------------------------
 * app.css
 *
 * This is the main css file
 *
 * @package Kron
 * @version 1.2.0
 * @copyright Copyright (c) 2013, Datanova Kft.
 *
 * @todo Standardize the naming conventions of the styles
 */

.icon-login-wnd {
	background-image:url(../images/key_go.png) ! important;
}

.icon-login-btn_small {
	background-image:url(../images/right_16.png) ! important;
}

.icon-flag-en_US {
	background-image:url(../images/flag_gb.png) ! important;
}

.icon-flag-hu_HU {
	background-image:url(../images/flag_hu.png) ! important;
}

.icon-flag-de_DE {
	background-image:url(../images/flag_de.png) ! important;
}

.icon-flag-fr_FR {
	background-image:url(../images/flag_fr.png) ! important;
}

.icon-todo-menu_large {
	background-image:url(../images/calendar_32.png) ! important;
}

.icon-patients-menu_large {
	background-image:url(../images/user2_32.png) ! important;
}

.icon-queries-menu_large {
	background-image:url(../images/bubble_32.png) ! important;
}

.icon-messages-menu_large {
	background-image:url(../images/letter_32.png) ! important;
}

.icon-documents-menu_large {
	background-image:url(../images/document_download_32.png) ! important;
}

.icon-contacts-menu_large {
	background-image:url(../images/address_32.png) ! important;
}

.icon-reports-menu_large {
	background-image:url(../images/statistics_32.png) ! important;
}

.icon-preferences-menu_large {
	background-image:url(../images/settings_32.png) ! important;
}


.icon-logout-menu_large {
	background-image:url(../images/logout_32.png) ! important;
}

.icon-visits-menu_large {
	background-image:url(../images/document_pencil_32.png) ! important;
}

.icon-medication-menu_large {
	background-image:url(../images/pills_32.png) ! important;
}

.icon-medicalhistory-menu_large {
	background-image:url(../images/medicalhistory.png) ! important;
}

.icon-ae-sae-menu_large {
	background-image:url(../images/ae.png) ! important;
}

.icon-us-visits-menu_large {
	background-image:url(../images/us_visit_32.png) ! important;
}

.icon-sign-menu_large {
	background-image:url(../images/pen_32.png) ! important;
}

.icon-overview-menu_large{
	background-image:url(../images/search_32.png) ! important;
}

.icon-save-menu_large {
	background-image:url(../images/save_32.png) ! important;
}

.icon-add-patient-wnd {
	background-image:url(../images/user2_16.png) ! important;
}

.icon-patient-status-ongoing {
	width:98%;
	background-image:url(../images/ongoing_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.icon-patient-status-dropout {
	background-image:url(../images/delete_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.icon-patient-status-completed {
	background-image:url(../images/tick_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.icon-patient-status-screenfailure {
	background-image:url(../images/block_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.icon-new-btn_medium {
	background-image:url(../images/plus_24.png) ! important;
}

.icon-edit-btn_medium {
	background-image:url(../images/pencil_24.png) ! important;
}

.icon-view-btn_medium {
	background-image:url(../images/tick_24.png) ! important;
}

.icon-delete-btn_medium {
	background-image:url(../images/delete_24.png) ! important;
}

.icon-print-btn_medium {
	background-image:url(../images/print_24.png) ! important;
}

.icon-followup-btn_medium {
	background-image:url(../images/followup_24.png) ! important;
}

.icon-unscheduled-btn_medium {
	background-image:url(../images/us_visit_24.png) ! important;
}

.icon-unscheduledvisit-dlg_small {
	background-image:url(../images/us_visit_16.png) ! important;
}

.icon-normalvisit-dlg_small {
	background-image:url(../images/document_pencil_16.png) ! important;
}

.icon-medication-dlg_small {
	background-image:url(../images/pills_16.png) ! important;
}

.icon-medicalhistory-dlg_small {
	background-image:url(../images/clipboard_16.png) ! important;
}

.icon-adverseevent-dlg_small {
	background-image:url(../images/warning_16.png) ! important;
}

.icon-followup-dlg_small {
	background-image:url(../images/followup_16.png) ! important;
}

.icon-sign-btn_small {
	background-image:url(../images/tick_16.png) ! important;
}

.icon-sign-btn_medium {
	background-image:url(../images/pen_24.png) ! important;
}

.icon-monitorall-btn_medium {
	background-image:url(../images/tick_24.png) ! important;
}

.icon-save-btn_medium {
	background-image:url(../images/save_24.png) ! important;
}

.icon-cancel-btn_medium {
	background-image:url(../images/block_24.png) ! important;
}

.icon-reload-btn_medium {
	background-image:url(../images/reload_24.png) ! important;
}

.icon-changepassword-btn_medium {
	background-image:url(../images/key_24.png) ! important;
}

.icon-changepassword-wnd {
	background-image:url(../images/key_16.png) ! important;
}

.icon-userdetails-btn_medium {
	background-image:url(../images/user_info_24.png) ! important;
}


.icon-download-btn_large {
	background-image:url(../images/save_32.png) ! important;
}

.icon-close-btn_medium {
	background-image: url(../images/cross.png) ! important;
	left: 4px !important;
}
/* Contacts */

.icon-contacts-send-message {
	background-image:url(../images/letter_32.png);
	background-repeat:no-repeat;
	padding-left:32px;
	text-align:center;
}

.icon-addquery-btn_small {
    background-image:url(../images/addquery_16.png);
}

.icon-querylist-btn_small {
    background-image:url(../images/querylist_16.png);
}

.icon-fieldhistory-btn_small {
    background-image:url(../images/info_16.png);
}

.forms-message-info, .forms-message-warning {
	//background: #DFE9F6;
	//#F6F6F6;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	//color: #416DA3;
	display: block;
	float: left;
	padding: 4px 40px 4px;
	position: relative;
	font-family: Georgia, serif;
	text-decoration: none;
	//vertical-align: middle;
	min-height: 34px;
	height: auto !important;
	height: 34px; 
}

.forms-message-info {
	background: #DFE9F6 url("../images/icon-info.png") no-repeat;
	background-position: 2px 0px;
	color: #416DA3;
}

.forms-message-warning {
	background: #DFE9F6 url("../images/icon-warning.png") no-repeat;
	background-position: 2px 0px;
	color: #FF0000;
}

.patient-sae-warning {
	/*background-color: #FFB515;*/
	/*background-color: #E33100;*/
	background-color: #FF5C00;
	/*font-size: 11px;*/
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 5px 5px 6px;
}

.adherencetable {
    color: black;
    background: #F6F6F6;
    border: 1px solid #b4b4b4;
    /*font: bold 6px helvetica;*/
	/*font: 11px/14px bold tahoma,arial,verdana,sans-serif;*/
	text-align:center;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.adherencetable-smallheader {
    color: black;
    /*text-align: left;*/
	font: 11px/14px bold tahoma,arial,verdana,sans-serif;
}

.adherencetable-verysmallheader {
    color: #15428B;
    text-align: center;
	font: 8px/10px bold tahoma,arial,verdana,sans-serif;
}
     
.adherencetable tr td {
    color: #666;
    vertical-align: middle;
    /*text-align:center;*/
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    /*padding: 1px 1px 1px 1px;*/
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
    background:-moz-linear-gradient( top, #fdfdfd 5%, #eee 100% );
}
         
.adherencetable tr td:last-child {
    border-right: none;
}

.adherencetable tr:last-child td {
    border-bottom: none;
}


.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}

.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 16px;
    padding: 40px 5px 5px 5px;
    border: none;
    background-color: transparent;
    background-position: top center;
}

/*.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}*/

.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background: url(../images/logo-splash.png) no-repeat center center;
    margin-top: -40px;
    margin-bottom: 10px;
}

body {
	/*background: #D5E5ED url("../images/background.png") repeat-x;*/
	color: #666;
	font: normal 1em/1.5 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.logo-panel {
background: #dfe8f6 url(../images/sponsor_logo.png) no-repeat center center;
padding-top: 74px;
}

.userprefsview {
    margin: 4px;
    padding: 15px; 	
}
.userprefsview p{
	padding: 20px; 	
	font: normal 1.2em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.userprefsview h1{
	padding: 15px; 	
	font: bold 2em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.userprefsview-data {
	padding: 5px; 	
	font: 1.1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.userprefsview-data-leftheader {
	padding: 5px; 	
	font: bold 1.1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.contacts-wrap {
	float: left;
    margin: 2px;
    margin-right: 0;
    padding: 5px; 	
}
.contacts-wrap p{
	padding: 5px; 	
	font: normal 1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.contacts-wrap h1{
	padding: 5px; 	
	font: bold 1.5em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.send-message-button{
	padding: 5px; 
	text-align: center;
}

.documents-view {
	background: none repeat scroll 0 0 #FFFFFF !important;
	/*background-color: #FFFFFF !important;*/
}

.documents-doctype {
	background: #EF8000 !important;
	font-family: "Courier", "Courier New";
	font-size: 14px;
    /*font-weight: bold;*/
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	margin: 0 10px;
	padding: 2px 8px;
}

.documents-wrap {
	float: left;
    /*margin: 4px;
    margin-right: 0;*/
    padding: 5px;
    /*background: #FFFFFF;*/
    font-family: Georgia, serif;
    font-size: 14px;
	text-decoration: none;
}

.documents-wrap h1{
	font-size: 20px;
	padding: 20px 0 0 0;
}
.download-button{
	padding: 5px; 
	text-align: center;
}

/*patient  window - query*/
.query-history {
 opacity: 0.6;
  }

/*messages view*/

.messages-unread{
   color:red;     
}

.messages-read{
   color:black;   
}

.contacts-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
    padding: 4px;
} 
/* todo messages */

.todo-blink{
	text-decoration:blink;
}

.todo-no-message{ 
	display:inline;
	/*font: normal 1em;
	font-family: Georgia, serif;*/
	font: normal 1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.todo-message{ 
	color:rgb(255,0,0); 
	display:inline;
	text-decoration:blink;
	/*font: normal 1em;
	font-family: Georgia, serif;*/
	font: normal 1em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

.new-message-to {
   
 opacity: 0.4;
  }

.infobar-text {
    /*color: #04408C;*/
	color: #4E779D;
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    text-align: center;
}

/*  todo calendar skins */
/* calendar header*/
.todo-calendar-weekday{ 
	color: #666;
	display:inline;
	text-align: center;
	/*font: normal 0.8em;
	font-family: Georgia, serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.todo-calendar-weekend{ 
	color:rgb(255,0,0); 
	display:inline;
	text-align: center;
	/*font: normal 0.8em;
	font-family: Georgia, serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}   					
.todo-calendar-day{
	color: #666;
	display:inline;
	text-align: center;
	padding:5px;
	/*font: normal 1.5em;
	font-family: Georgia, serif;*/
	font: normal 1.5em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
.todo-calendar-sunday{ 
	color:rgb(255,0,0); 
	display:inline;
	text-align: right;
	padding:5px;
	/*font: normal 1.5em;
	font-family: Georgia, serif;*/
	font: normal 1.5em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}   
.todo-calendar-month{
	color: #666;
	text-align:right;
	/*font: normal 0.7em;
	font-family: Georgia, serif;*/
	font: normal 0.7em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

/* visit events*/
.todo-visit {
	padding:1px;
}

/* red visits */

.todo-visit-top-left-red {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/red/top-left.png) no-repeat right bottom;
}

.todo-visit-top-red {
	height:5px;
	background: transparent url(../images/skin/red/top.png) repeat-x bottom;
}

.todo-visit-top-right-red  {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/red/top-right.png) no-repeat left bottom;
}

.todo-visit-left-red  {
	width:5px;
	background: transparent url(../images/skin/red/left.png) repeat-y right;
}

.todo-visit-background-red{
	/*font: normal 0.8em;
	font-family: Helvetica, Arial, sans-serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	background: transparent url(../images/skin/red/background.png);
}

.todo-visit-right-red {
	width:5px;
	background: transparent url(../images/skin/red/right.png) repeat-y left;
}

.todo-visit-bottom-left-red{
	height:5px;
	width:5px;
	background: transparent url(../images/skin/red/bottom-left.png) no-repeat right top;
}
.todo-visit-bottom-red{
	height:5px;
	background: transparent url(../images/skin/red/bottom.png) repeat-x top;
}
.todo-visit-bottom-right-red{
	height:5px;
	width:5px;
	background: transparent url(../images/skin/red/bottom-right.png) no-repeat left top;
}
/* end of red */
/* white visits */

.todo-visit-top-left-white {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/white/top-left.png) no-repeat right bottom;
}

.todo-visit-top-white {
	height:5px;
	background: transparent url(../images/skin/white/top.png) repeat-x bottom;
}

.todo-visit-top-right-white  {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/white/top-right.png) no-repeat left bottom;
}

.todo-visit-left-white  {
	width:5px;
	background: transparent url(../images/skin/white/left.png) repeat-y right;
}

.todo-visit-background-white{
	/*font: normal 0.8em;
	font-family: Helvetica, Arial, sans-serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	background: transparent url(../images/skin/white/background.png);
}

.todo-visit-right-white {
	width:5px;
	background: transparent url(../images/skin/white/right.png) repeat-y left;
}

.todo-visit-bottom-left-white{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/white/bottom-left.png) no-repeat right top;
}
.todo-visit-bottom-white{
	height:6px;
	background: transparent url(../images/skin/white/bottom.png) repeat-x top;
}
.todo-visit-bottom-right-white{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/white/bottom-right.png) no-repeat left top;
}
/* end of white */
/* green visits */

.todo-visit-top-left-green {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/green/top-left.png) no-repeat right bottom;
}

.todo-visit-top-green {
	height:5px;
	background: transparent url(../images/skin/green/top.png) repeat-x bottom;
}

.todo-visit-top-right-green  {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/green/top-right.png) no-repeat left bottom;
}

.todo-visit-left-green  {
	width:5px;
	background: transparent url(../images/skin/green/left.png) repeat-y right;
}

.todo-visit-background-green{
	/*font: normal 0.8em;
	font-family: Helvetica, Arial, sans-serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	background: transparent url(../images/skin/green/background.png);
}

.todo-visit-right-green {
	width:5px;
	background: transparent url(../images/skin/green/right.png) repeat-y left;
}

.todo-visit-bottom-left-green{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/green/bottom-left.png) no-repeat right top;
}
.todo-visit-bottom-green{
	height:6px;
	background: transparent url(../images/skin/green/bottom.png) repeat-x top;
}
.todo-visit-bottom-right-green{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/green/bottom-right.png) no-repeat left top;
}
/* end of green */
/* yellow visits */

.todo-visit-top-left-yellow {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/yellow/top-left.png) no-repeat right bottom;
}

.todo-visit-top-yellow {
	height:5px;
	background: transparent url(../images/skin/yellow/top.png) repeat-x bottom;
}

.todo-visit-top-right-yellow  {
	height:5px;
	width:5px;
	background: transparent url(../images/skin/yellow/top-right.png) no-repeat left bottom;
}

.todo-visit-left-yellow  {
	width:5px;
	background: transparent url(../images/skin/yellow/left.png) repeat-y right;
}

.todo-visit-background-yellow{
	/*font: normal 0.8em;
	font-family: Helvetica, Arial, sans-serif;*/
	font: normal 0.8em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	background: transparent url(../images/skin/yellow/background.png);
}

.todo-visit-right-yellow {
	width:5px;
	background: transparent url(../images/skin/yellow/right.png) repeat-y left;
}

.todo-visit-bottom-left-yellow{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/yellow/bottom-left.png) no-repeat right top;
}
.todo-visit-bottom-yellow{
	height:6px;
	background: transparent url(../images/skin/yellow/bottom.png) repeat-x top;
}
.todo-visit-bottom-right-yellow{
	height:6px;
	width:5px;
	background: transparent url(../images/skin/yellow/bottom-right.png) no-repeat left top;
}
/* end of yellow */

/* datepicker */
.x-mydate-selected a{
	background: repeat-x left top;
	border:1px solid;
    padding:1px 4px;
    background-color:#dfecfb;
	background-image:url(../images/glass-bg.gif);
	border-color:#8db2e3;
}
.x-mydate-selected span{
    font-weight:bold;
}

.fielddetailsbutton-queried {
	background-image:url(../images/open_queries_16.png) !important;
	/*border-color:#ffffff;*/ 
}
.fielddetailsbutton-answered {
	background-image:url(../images/answered_queries_16.png) ! important;
	/*border-color:#ffffff;*/ 
}
.fielddetailsbutton-queried-answered {
	background-image:url(../images/open_and_answered_queries_16.png ) !important;
	/*border-color:#ffffff;*/ 
}
.fielddetailsbutton {
	background-image:url(../images/addquery_16.png)  ! important;
	/*background-image:url(../images/info_16.png) ! important;*/
	/*border-color:#ffffff;*/ 
}
.fielddetailsbutton-disabled {
	opacity:0.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	cursor: default;
}

.monitorcheck-unpressed-base {
	background-image:url(../images/unchecked.png) ! important;
	/*border-color:#ffffff;*/ 
}

.monitorcheck-unpressed {
	background-image:url(../images/unchecked.png) ! important;
}
.monitorcheck-disabled {
	opacity:0.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
	cursor: default;
}


.x-btn.x-monitorcheck-pressed {
    background-image:url(../images/checked.png) ! important;
}

.visitview-tabpanel .x-tab-bar .x-tab-bar-body {
    height: 33px !important; /* Default value is 23, we add 10 = 33 */
    border: 0 !important; /* Overides the border that appears on resizing the grid */
}

.visitview-tabpanel .x-tab-bar-strip {
    top: 30px !important; /* Default value is 20, we add 10 = 30 */
}
.visitview-tabpanel .x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 31px !important; /* Default value is 21, we add 10 = 31 */
}

.visitview-tabpanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 31px !important; /* Default value is 21, we add 10 = 31 */
}

.visitview-tabpanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    height: 23px !important; /* Default value 13, we add 10 = 23 */
    line-height: 23px !important; /* Default value 13, we add 10 = 23 */
}

.visitview-pagepanel .x-tab-bar-strip {
    top: 20px !important; /* Default value is 20, we add 10 = 30 */
}

.visitview-pagepanel .x-tab-bar .x-tab-bar-body {
    height: 23px !important; /* Default value is 23, we add 10 = 33 */
    border: 0 !important; /* Overides the border that appears on resizing the grid */
}

.visitview-pagepanel .x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 21px !important; /* Default value is 21, we add 10 = 31 */
}

.visitview-pagepanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 21px !important; /* Default value is 21, we add 10 = 31 */
}

.visitview-pagepanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    height: 13px !important; /* Default value 13, we add 10 = 23 */
    line-height: 13px !important; /* Default value 13, we add 10 = 23 */
}

.grid-normal-visit-row .x-grid-cell {
	height: 24px;
	/*color: blue;*/
}

.grid-normal-visit-row .x-grid-cell-inner {
    overflow: hidden;
    padding: 3px 6px;
    white-space: nowrap;
 }
	
.grid-deleted-visit-row .x-grid-cell {
	background-color: #ffe2e2;
	text-decoration: line-through;
    color: #900;
    height: 24px;
}

.grid-deleted-visit-row .x-grid-cell-inner {
    overflow: hidden;
    padding: 3px 6px;
    white-space: nowrap;
 }
.grid-deleted-visit-row .x-grid-cell-first {
	background-image:url(../images/delete_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-normal-row .x-grid-cell {
	/*color: blue;*/
}
	
.grid-deleted-row .x-grid-cell {
	background-color: #ffe2e2;
	text-decoration: line-through;
    color: #900;
}

.grid-deleted-row-first-cell {
	background-image:url(../images/delete_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}


.selectedfield {
	background-color: rgb(203,212,226);
}

.overfield {
	background-color: rgb(213,222,236);
}

.queried_field_label {
    background-image:url(../images/open_queries_16.png );
	background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:18px;
  }
  
.answered_query_label {
    background-image:url(../images/answered_queries_16.png );
	background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:18px;
  } 
  
.changed_field_label{
    background-image:url(../images/warning_16.png );
	background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:18px;
  } 

.approved_field_label{
    background-image:url(../images/tick_16.png );
	background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:18px;
  } 
  
.grid-deletedfollowup-row-first-cell {
	background-image:url(../images/delete_16.png);
	background-position:20px 2px;
	background-repeat:no-repeat;
	padding-left:36px;
	text-align:center;
}

.grid-followup-row-first-cell {
	background-image:url(../images/followup_16.png);
	background-position:20px 2px;
	background-repeat:no-repeat;
	padding-left:36px;
	text-align:center;
}

.grid-sae-row-first-cell {
	background-image:url(../images/warning_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-edited-cell {
	background-image:url(../images/pencil_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-signed-cell {
	background-image:url(../images/tick_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-notsigned-cell {
	background-image:url(../images/delete_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-monitored-yes-cell {
	background-image:url(../images/tick_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-monitored-no-cell {
	background-image:url(../images/delete_16.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-monitored-ongoing-cell {
	background-image:url(../images/ongoing_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}

.grid-empty-cell {
	background-image:url(../images/gray_20.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:20px;
	text-align:center;
}

.grid-ongoing-cell {
	background-image:url(../images/yellow_20.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:20px;
	text-align:center;
}

.grid-missing-cell {
	background-image:url(../images/red_20.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:20px;
	text-align:center;
}

.grid-completed-cell {
	background-image:url(../images/green_20.png);
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:20px;
	text-align:center;
}

.grid-locked-cell {
	background-image:url(../images/delete_16.png);
	background-position:2px 2px;
	background-repeat:no-repeat;
	padding-left:16px;
	text-align:center;
}


/* A grid sor magasságának megnövelésére*/
.patient-grid .x-grid-cell-inner {
    overflow: hidden;
    padding: 6px 4px;
    white-space: nowrap;
}

/* Warning message styles */
.error, .success {
    margin: 1em 0;
}

.error {
    color: red;
}

.success {
    color: green;
}

.warning .x-box-mc {
    font-size:14px;
}

#warning-div {
    /*position:absolute;
    right:20px;
    top:10px;*/
    width:350px;
    z-index:20000;
}

.tooltip-wrapper {
    /*position: absolute;*/
    /*left: 45%;*/
    /*right : 2%;
    top: 0;*/
    /*width: 350px;*/
    z-index: 20000;
    /*display: none;*/
}

.tooltip-wrapper img { position: absolute; top: 6px; left: 28px; }
.tooltip-wrapper .close-img{ position: absolute; top: 2px; right: 49px; cursor: pointer; }

.tooltip-wrapper .tooltip {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    min-width: 200px;
    max-width: 500px;
    padding: 5px 20px 5px 40px;
    min-height: 40px;
    margin: 3px 0 0 24px;
	line-height: 23px;
}

.tooltip-wrapper .tooltip em {
    font-family: Candara, Tahoma, Geneva, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    font-style: italic;
}

#tooltip-invalid-fields {
    display: none;
    font-size: 14px;
    padding: 10px 0 0 10px;
    color: #7a4242;
    line-height: 23px;
}
#tooltip-invalid-fields span { font-weight: bold; }

.tooltip-details {
    display: block;
    float: right;
    color: #AA1111;
    font-size: 12px;
}

.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
/*
* + html #IaOrgMainPanel .x-panel-body  {position: relative}
* + html #IaOrgMainPanel .x-tab-panel-body {position: relative}*/

/*todo slide-in msg box*/
  
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    right: 10px;
    bottom: 5px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}  

/*todo slide-in msg box 2*/
  
.msg2 .x-box-mc {
    font-size:14px;
}
#msg2-div {
    position:absolute;
    left:40%;
    top:1px;
    width:300px;
    z-index:20000;
}
#msg2-div .msg2 {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg2-div .msg2 h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg2-div .msg2 p {
    margin: 0;
}  

#querygrid .x-grid-cell-inner {
    white-space: normal
}


/*
 *    PasswordMeter
 */
.strengthmeter {
    background-image: url(../images/meter.gif);
    background-size: 100%;
    width : 100%;
    float: right;
}
 
.scorebar {
    background-color : white;
    float: right;
    line-height : 6px;
    width : 100%;
}

/* IE problemak orvosolasa */ 
.ext-ie7 .x-form-text, .ext-ie7 textarea.x-form-field {
margin: 0;
}
.ext-ie7 .x-small-editor .x-form-text { /* to address issue with combo inside toolbar */
margin-top: 0 !important;
margin-bottom: 0 !important;
}
/**---------------------------------------------------------------
*** IE8 override fixes
***---------------------------------------------------------------*/
.x-form-text, .ext-ie .x-form-text, .ext-ie .x-form-file {
height:22px;
line-height:18px;
margin: 0px 0px 0px 0px;
vertical-align:middle;
text-align: left;
}

.ext-ie6 .x-form-text, .ext-ie7 .x-form-text {
margin:0px 0px 0px 0px; /* ie bogus margin bug */
height:22px; /* ie quirks */
line-height:18px;
}

.ext-ie6 textarea.x-form-field, .ext-ie7 textarea.x-form-field {
margin:0px 0px 0px 0px; /* ie bogus margin bug */
}

.contacts-wrap table
{
	border: 1px solid #000000;
}

.contacts-wrap th {
   	background-color: rgb(255,191,0);
	color: #000000;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 2px 2px 2px 10px;
    text-align: left;
   
}   
.contacts-wrap tr td {
    color: #000000;
    vertical-align: middle;
    border: none;
    padding: 2px 0px 2px 5px;

}  
.contact-name {
	font-weight: bolder;
}

.icon-tab-errorfield {
	background-image:url(../images/exclamation.gif) ! important;
	
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:18px;
	text-align:center;
	
}

.icon-tab-allmonitored {
	background-image:url(../images/accept.png) ! important;
	background-position:0px 2px;
	background-repeat:no-repeat;
	padding-left:18px;
	text-align:center;
}
.icon-tab-noicon {
	padding-left:18px;
	text-align:center;
}

