/**
 *---------------------------------------------------------------
 * login.css
 *
 * This is the login css file
 *
 * @package Kron
 * @version 1.2.0
 * @copyright Copyright (c) 2013, Datanova Kft.
 *
 * @todo Standardize the naming conventions of the styles
 */
.icon-login-wnd {
	background-image:url(../images/key_go.png) ! important;
}

.icon-login-btn_small {
	background-image:url(../images/right_16.png) ! important;
}

.icon-flag-en_US {
	background-image:url(../images/flag_gb.png) ! important;
}

.icon-flag-hu_HU {
	background-image:url(../images/flag_hu.png) ! important;
}

.icon-flag-de_DE {
	background-image:url(../images/flag_de.png) ! important;
}

.icon-flag-fr_FR {
	background-image:url(../images/flag_fr.png) ! important;
}

body {
	/*background: url("../images/background.png");
	background-size: 100%;*/
	color: #666;
	margin: 0;
	padding: 0;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

p {
    color: #214267;
	font-family: Georgia, serif;
	text-decoration: none;
	font: normal 1em/1.5;
  }
  
.helpdesk {
	position: absolute;
	bottom: 10px;
	left: 50px;
}

.helpdesk table tr td{
    color: #666;
	font-family: Georgia, serif;
	text-decoration: none;
	font-size: 12px;
	/*font: bold 1em/1.5;*/
  }

h1 {
    color: #214267;
    font: bold 3em "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  }



