/**
 *---------------------------------------------------------------
 * logout.css
 *
 * This is the logout css file
 *
 * @package Kron
 * @version 1.2.0
 * @copyright Copyright (c) 2013, Datanova Kft.
 *
 * @todo Standardize the naming conventions of the styles
 */

body {
	/*background: url("../images/background.png");
	background-size: 100%;*/
	color: #666;
	/*font: normal 1em/1.5 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;*/
	margin: 0;
	padding: 0;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.logoutmsg {
	/*background: none repeat scroll 0 0 #99BCE8;*/
	background: none repeat scroll 0 0 #CED9E7;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 18px;
	line-height: 30px;
	margin: 0 0 25px;
	padding: 10px 15px;
	position: relative;
	/*width: 600px;*/
	/*font-size: 16px;*/
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}
.button {
   border-top: 1px solid #96d1f8;
   /*background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);*/
   background: #4e779d;
   padding: 20px 40px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
   
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}
   
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}