/**
 *---------------------------------------------------------------
 * monitor.css
 *
 * This is the monitor css file
 *
 * @package Kron
 * @version 0.2.0
 * @copyright Copyright (c) 2013, Zsolt Jaro & Laszlo Csizmadia
 *
 * @todo Standardize the naming conventions of the styles
 */

body {
	/*background: #D5E5ED url("../images/background.png") repeat-x;*/
	color: #666;
	font: normal 1em/1.5 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}



